
@model List<TeaManagement.Dtos.StakeholderReportDto>

@{
    ViewData["Title"] = "Stakeholder Report";
}

@if (Model.Any())
{
    @foreach (var t in Model)
    {
        <p> @t.StakeholderName </p>
    }
}