@model TeaManagement.ViewModels.NewSalesVm
@{
    ViewData["Title"] = "New Sale";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">   <!-- Controls card width -->
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h5 class="mb-0">New Sale</h5>
                </div>

                <div class="card-body">
                    <form method="post" asp-action="NewSale">
                        <div class="mb-3">
                            <label asp-for="ProductId">Select Product</label>
                            <select asp-for="ProductId" id="productid" class="form-control">
                                <option value="0">Select</option>
                                @if (Model.Products != null)
                                {
                                    foreach (var p in Model.Products)
                                    {
                                        <option value="@p.Value">@p.Text</option>
                                    }
                                }

                            </select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Quantity">Quantity <span class="text-danger">*</span></label>
                            <input asp-for="Quantity" type="number" required="required" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Price">Rate Per KG <span class="text-danger">*</span></label>
                            <input asp-for="Price" type="number" required="required" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WaterQuantity">Water Deducted</label>
                            <input asp-for="WaterQuantity" type="number" required="required" class="form-control"
                                   value="0"/>
                        </div>


                        <div class="mb-3">
                            <label asp-for="FactoryId">Select Factory</label>
                            <select asp-for="FactoryId" id="factoryid" class="form-control">
                                <option value="0">Select</option>
                                @if (Model.Factories != null)
                                {
                                    foreach (var p in Model.Factories)
                                    {
                                        <option value="@p.Value">@p.Text</option>
                                    }
                                }

                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary ">Save</button>
                            <button asp-action="NewSale" formmethod="get" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
