<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - ExpenseTracker</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css"/>

  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://nepalidatepicker.sajanmaharjan.com.np/v5/nepali.datepicker/css/nepali.datepicker.v5.0.6.min.css"
        rel="stylesheet" type="text/css"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-rc3/dist/css/adminlte.min.css"
    crossorigin="anonymous"
  />

  <!--begin::Accessibility Meta Tags-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="color-scheme" content="light dark"/>
  <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)"/>
  <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)"/>
  <!--end::Accessibility Meta Tags-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css"
    integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="
    crossorigin="anonymous"
    media="print"
    onload="this.media = 'all'"
  />
  <!--end::Fonts-->

  <!--begin::Third Party Plugin(OverlayScrollbars)-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css"
    crossorigin="anonymous"
  />
  <!--end::Third Party Plugin(OverlayScrollbars)-->

  <!--begin::Third Party Plugin(Bootstrap Icons)-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css"
    integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0="
    crossorigin="anonymous"
  />

  <!-- jsvectormap -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/css/jsvectormap.min.css"
    integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4="
    crossorigin="anonymous"
  />
  <style>
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-left: 0.1rem;
      display: none;
    }

    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }

  </style>
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<header>

  <div class="app-wrapper">
    <!--begin::Header-->
    <nav class="app-header navbar navbar-expand bg-body">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Start Navbar Links-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
              <i class="bi bi-list"></i>
            </a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
          </li>
          <li class="nav-item dropdown d-none d-md-block">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="contactDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Basic Setup
            </a>

            <ul class="dropdown-menu" aria-labelledby="contactDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Inventory</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="AddProducts">Add Product</a>
                  </li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="">Add Units</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Accounting</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Ledger" asp-action="AddParentLedger">Add Parent
                      Ledger</a></li>
                  <li><a class="dropdown-item" asp-controller="Ledger" asp-action="CreateLedger">Add Ledger</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Bank</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Bank" asp-action="CreateBank">Create Bank</a></li>
                </ul>
              </li>


              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Basic Reports</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Ledger" asp-action="ParentLedgerReport">Parent Ledger
                      Report</a></li>
                  <li><a class="dropdown-item" asp-controller="Ledger" asp-action="LedgerReport">Ledger List</a></li>
                  <li><a class="dropdown-item" asp-controller="Bank" asp-action="BankReport">Bank Report</a></li>

                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown d-none d-md-block">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="inventoryDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Stakeholder
            </a>

            <ul class="dropdown-menu" aria-labelledby="stakeholderDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Supplier</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Stakeholder" asp-action="AddSupplier">Add Supplier</a>
                  </li>
                  <li><a class="dropdown-item" asp-controller="Stakeholder" asp-action="SupplierReport">Supplier
                      Report</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Customer</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Stakeholder" asp-action="AddCustomer">Add Customer</a>
                  </li>
                  <li><a class="dropdown-item" asp-controller="Stakeholder" asp-action="CustomerReport">Customer
                      Report</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown d-none d-md-block">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="inventoryDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Inventory
            </a>

            <ul class="dropdown-menu" aria-labelledby="inventoryDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Purchase</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Purchase" asp-action="Index">Add Purchase</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Sales</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Sale" asp-action="NewSale">Add Sale</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown d-none d-md-block">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="reportsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Reporting
            </a>

            <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Basic Reports</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Expense" asp-action="ExpenseReport">Expense Report</a>
                  </li>
                  <li><a class="dropdown-item" asp-controller="Income" asp-action="IncomeReport">Income Report</a></li>
                  <li><a class="dropdown-item" asp-controller="Liability" asp-action="LiabilityReport">Liability
                      Report</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Advance Reports</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" asp-controller="Voucher" asp-action="AccountingTransaction">Accounting
                      Transaction</a></li>
                  <li><a class="dropdown-item" asp-controller="Ledger" asp-action="LedgerStatement">Ledger Statement</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
        <!--end::Start Navbar Links-->

        <!--begin::End Navbar Links-->
        <ul class="navbar-nav ms-auto">


          <!--begin::Fullscreen Toggle-->
          <li class="nav-item">
            <a class="nav-link" href="#" data-lte-toggle="fullscreen">
              <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
              <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none"></i>
            </a>
          </li>
          <!--end::Fullscreen Toggle-->


          <!--begin::User Menu Dropdown-->
          <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <img
                @* src="./assets/img/user2-160x160.jpg" *@
                class="user-image rounded-circle shadow"
                alt="User Image"
              />
              <span class="d-none d-md-inline">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
              <!--begin::User Image-->
              <li class="user-header text-bg-primary">
                <img
                  @* src="./assets/img/user2-160x160.jpg" *@
                  class="rounded-circle shadow"
                  alt="User Image"
                />
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2023</small>
                </p>
              </li>
              <!--end::User Image-->
              <!--begin::Menu Body-->
              <li class="user-body">
                <!--begin::Row-->
                <div class="row">
                  <div class="col-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!--end::Row-->
              </li>
              <!--end::Menu Body-->
              <!--begin::Menu Footer-->
              <li class="user-footer">
                <a href="#" class="btn btn-outline-secondary">Profile</a>
                <a href="#" class="btn btn-outline-danger float-end">Sign out</a>
              </li>
              <!--end::Menu Footer-->
            </ul>
          </li>
          <!--end::User Menu Dropdown-->
        </ul>
        <!--end::End Navbar Links-->
      </div>
      <!--end::Container-->
    </nav>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
      <!--begin::Sidebar Brand-->
      <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="#" class="brand-link">
          <!--begin::Brand Image-->
          <img
            src="~/favicon.ico"
            alt=""
            class="brand-image opacity-75 shadow"
          />
          <!--end::Brand Image-->
          <!--begin::Brand Text-->
          <span class="brand-text fw-light">Tea Management</span>
          <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
      </div>
      <!--end::Sidebar Brand-->
      <!--begin::Sidebar Wrapper-->
      <div class="sidebar-wrapper">
        <nav class="mt-2">
          <!--begin::Sidebar Menu-->
          <ul
            class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="navigation"
            aria-label="Main navigation"
            data-accordion="false"
            id="navigation"
          >
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-pencil-square"></i>
                <p>
                  Forms
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="./forms/general.html" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>General Elements</p>
                  </a>
                </li>
              </ul>
            </li>


            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-diagram-3"></i>
                @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                <p>
                  COA
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-table"></i> *@
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Parent Ledger
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-controller="Ledger" asp-action="CreateParentLedger" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Create Parent Ledger</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a asp-controller="Ledger" asp-action="ParentLedgerReport" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Parent Ledger Report</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Ledger
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-action="CreateLedger" asp-controller="Ledger" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Create Ledger</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a asp-action="LedgerReport" asp-controller="Ledger" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Ledger Report</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-bank"></i>
                @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                <p>
                  Bank
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-table"></i> *@
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Setup/Transaction
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-controller="Bank" asp-action="CreateBank" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Create Bank</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a asp-controller="BankTransaction" asp-action="BankDepositandWithdraw" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Bank Transaction Report</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Reports
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-action="BankReport" asp-controller="Bank" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Bank Report</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a asp-action="BankTransactionReport" asp-controller="BankTransaction" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Bank Transaction Report</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-cash-stack"></i>
                <p>
                  Expenses
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a asp-action="RecordExpense" asp-controller="Expense" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Record Expense</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a asp-controller="Expense" asp-action="ExpenseReport" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Expense Report</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-graph-up-arrow"></i>
                <p>
                  Income
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a asp-action="RecordIncome" asp-controller="Income" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Record Income</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a asp-controller="Income" asp-action="IncomeReport" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Income Report</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-calculator"></i>
                <p>
                  Liability
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a asp-action="AddLiability" asp-controller="Liability" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Record Liability</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a asp-controller="Liability" asp-action="LiabilityReport" class="nav-link">
                    @*   <i class="nav-icon bi bi-circle"></i> *@
                    <p>Liability Report</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-table"></i>
                @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                <p>
                  Accounting
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-table"></i> *@
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Journal Voucher
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-controller="Voucher" asp-action="AddJv" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Add JV</p>
                      </a>
                    </li>
                    @* <li class="nav-item"> *@
                    @*   <a asp-controller="Ledger" asp-action="ParentLedgerReport" class="nav-link"> *@
                    @*     $1$ <i class="nav-icon bi bi-circle"></i> #1# *@
                    @*     <p>Parent Ledger Report</p> *@
                    @*   </a> *@
                    @* </li> *@
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    @* <i class="nav-icon bi bi-box-arrow-in-right"></i> *@
                    <p>
                      Reporting
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a asp-action="AccountingTransaction" asp-controller="Voucher" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Accounting Transaction Report</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a asp-action="LedgerStatement" asp-controller="Ledger" class="nav-link">
                        @* <i class="nav-icon bi bi-circle"></i> *@
                        <p>Ledger Statement</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>


            <li class="nav-item">
              <a href="./docs/license.html" class="nav-link">
                <i class="nav-icon bi bi-patch-check-fill"></i>
                <p>License</p>
              </a>
            </li>


          </ul>
          <!--end::Sidebar Menu-->
        </nav>
      </div>
      <!--end::Sidebar Wrapper-->
    </aside>
    <!--end::Sidebar-->
    <!--begin::App Main-->
    <main role="main" class="app-main pb-3">
      @RenderBody()
      <!--begin::App Content Header-->
      <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Row-->
          <div class="row">

          </div>
        </div>
        <!--end::Container-->
      </div>
    </main>
    <!--end::App Main-->
    <!--begin::Footer-->
    @* <footer class="app-footer"> *@
    @*   <!--begin::To the end--> *@
    @*   <div class="float-end d-none d-sm-inline">Anything you want</div> *@
    @*   <!--end::To the end--> *@
    @*   <!--begin::Copyright--> *@
    @*   <strong> *@
    @*     Copyright &copy; 2014-2025&nbsp; *@
    @*     <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>. *@
    @*   </strong> *@
    @*   All rights reserved. *@
    @*   <!--end::Copyright--> *@
    @* </footer> *@
    <!--end::Footer-->
  </div>
</header>

<script
  src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js"
  crossorigin="anonymous"
></script>
<!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
<script
  src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"
  crossorigin="anonymous"
></script>


<script
  src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js"
  integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8="
  crossorigin="anonymous"
></script>
<!-- jsvectormap -->
<script
  src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js"
  integrity="sha256-/t1nN2956BT869E6H4V1dnt0X5pAQHPytli+1nTZm2Y="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js"
  integrity="sha256-XPpPaZlU8S/HWf7FZLAncLg2SAkP8ScUTII89x9D3lY="
  crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="~/js/datatables/datatable-init.js"></script>
<script src="~/js/site.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-rc3/dist/js/adminlte.min.js"
  crossorigin="anonymous"
></script>
<script>
  document.querySelectorAll('.dropdown-submenu > a').forEach(el => {
    el.addEventListener('click', e => {
      e.preventDefault();
      e.stopPropagation();

      const parent = el.parentElement;
      parent.classList.toggle('show');
    });
  });
</script>



@await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("NToastNotify")

</body>
